{% extends "index.html.twig" %}

{% block pageName %}
    Registration
{% endblock %}
{% block pageDesc %}
    Create your account
{% endblock %}

{% block content %}
    <h2 class="page-header">Set your details</h2>
    <form method="post">
        <div class="form-group">
            <input placeholder="User name" class="form-control" id="name" type="text" name="name" {% if data['name'] is defined %}value="{{ data['name'] }}{% endif %}" />
            {% if messages['field'] is defined and messages['field'] == 'name' %}
                <p>{{ messages['message'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input placeholder="Email" class="form-control" id="email" type="text" name="email" {% if data['email'] is defined %}value="{{ data['email'] }}{% endif %}" />
            {% if messages['field'] is defined and messages['field'] == 'password' %}
                <p>{{ messages['message'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input placeholder="Password" class="form-control" id="password" type="text" name="password" />
            {% if messages['field'] is defined and messages['field'] == 'password' %}
                <p>{{ messages['message'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input placeholder="Password retype" class="form-control" id="password2" type="text" name="password2" />
            {% if messages['field'] is defined and messages['field'] == 'password2' %}
                <p>{{ messages['message'] }}</p>
            {% endif %}
        </div>

        <button class="btn btn-submit" type="submit">Save</button>
    </form>
{% endblock %}
